# Zależności
node_modules/
.pnp
.pnp.js

# Wyniki budowania projektu
dist/
build/
out/

# Logi błędów
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Pliki systemowe i edytorów
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?